@import url(styles/header.css);
@import url(styles/carrossel.css);
@import url(styles/mais_vendidos.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

:root{
    --cor-de-fundo: #EBECEE;
    --azul-degrade:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --titulo-laranja: #EB9B00;
    --gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
}
