.titulo__secao{
    color: var(--titulo-laranja);
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
} 

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.6em 0;
}

.card{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 16px;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.card__botoes{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center
}

.titulo__card{
    color: var(--titulo-laranja);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.titulo__livro--card{
    font-size: 18px;
    font-weight: 700;
    color: #002F52;
    line-height: 27px;
    margin-bottom: 8px;
}

.descricao__card{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 0 16px 0 0;

}

.card__favoritos{
    padding: 0 1em 0 0;
}

.card__compras{
    padding: 0 1em 0 0;
}

.botao__saiba--mais{
    text-decoration: none;
    background-color: var(--titulo-laranja);
    padding: .5em 2em;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5em;
}