.cabecalho{
    background-color: #FFFFFF;
    height: 48px;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.cabecalho__esquerda{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 30px;
    margin-right: 30px;
}

.titulo__header{
    display: none;
}

.cabecalho__menu--sanfona{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.cabecalho__compras{
    margin: 0 30px;
}

.container__botao{
    display: none;
}
.container__botao:checked~.div--menu{
    display: block;
}

.div--menu{
    display: none;
    background-color: #FFFFFF
}

.menu__1024{
    display: none;
}

.lista--menu{
    position: absolute;
    top:100%;
    left: 0;
    width: 60vw;
    background-color: #FFFFFF
}

.titulo__menu{
    color: var(--titulo-laranja);
}

.lista__menu--item{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.titulo__menu,.lista__menu--item{
    padding: 1em;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradiente);
    color: #FFFFFF;
    padding: 32px 58px;

}

.titulo__banner{
    font-size: 18px;
    font-weight: 700;
}

.descricao__banner{
    font-size: 16px;
    text-align: center;
    padding: 1.5em 0;
}

.banner__busca{
    background: none;
    border-radius: 30px;
    border: solid 0.08em white;
    color: #FFFFFF;
    padding: 1em;
    width: 100%;
}

.banner__busca::placeholder{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: 0em;
}
@media screen and (min-width: 1024px)  {
    .container__botao, .cabecalho__menu--sanfona, .cabecalho__favorito{
        display: none;
    }

    .titulo__header strong{
        font-size: 30px;
        font-weight: 700;
    }

    .titulo__header{
        font-family: 'Josefin Sans';
        display: contents;
        font-size: 30px;
        font-weight: 400;
        margin-left: 1em;
    }

    .menu__24--botao{
        display: none;
    }

    .menu__1024{
        display: block
    }

    .lista__menu--24{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;

    }

    .lista--menu--24{
        display: none;
    }

    .menu__24--botao:checked ~ .lista--menu--24{
        display: block;
    }

    .lista--menu--24{
        position: absolute;
        top: 60%;
        left: 35%;
        width: 20vw;
        background-color: #FFFFFF
    }

    .titulo__banner{
        font-size: 36px;
        margin-top: 1.5em;
    }
    .banner__busca{
        width: 50%;
    }
    
    .banner__busca::placeholder{
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center; 
    }

    
}